* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: url(/background.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: "playfair display";
  color: #f6ded5;
}

main {
  width: 90%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
}

section {
  display: block;
  margin: 50px 0 100px 0;
}

.heading {
  margin-bottom: 70px;
}

input {
  background-color: #f6ded5;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 0.9em;
  width: 90%;
  margin-bottom: 20px;
}

button {
  background-color: #f6ded5;
  display: block;
  color: #001d1f;
  font-family: "playfair display";
  font-size: 1em;
  border-radius: 10px;
  padding: 10px 30px;
  margin: 0 auto 20px auto;
  box-shadow: 4px 6px 7px 2px rgba(0, 0, 0, 0.466);
  border: none;
}

button:hover {
  box-shadow: none;
}

.segment button {
  background-color: #001d1f;
  color: #f6ded5;
}

.saved-book {
  background-color: #f6ded5;
  box-shadow: 4px 6px 7px 2px rgba(0, 0, 0, 0.466);
  border-radius: 5px;
  clear: both;
  text-align: center;
  color: #001d1f;
  width: 50%;
  margin: 0px auto;
}

label {
  margin-left: 5px;
}

.segment {
  width: 90%;
  margin: 10px auto 50px auto;
  padding: 20px 30px;
  text-align: center;
  border-radius: 15px;
  background-color: #f6ded5;
  color: #001d1f;
}

.book-list {
  margin-bottom: 50px;
  padding: 0 10px 50px 10px;
  border-bottom: 1px solid #f6ded5;
}

.book-list h3,
.book-list h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.book-list p {
  margin-bottom: 40px;
}

.book-list img {
  width: 90%;
  max-width: 200px;
}

.add-buttons {
  clear: both;
  text-align: center;
}

.add-buttons button {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.goal-edit input {
  width: 50%;
}

.goal-edit button {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
